- provide(:title, 'Home')

%h2 My Answered Reviewers
- if @reviewers.count == 0
  = "No reviewers taken so far."
  =link_to 'Take an Exam', user_exams_path(@user.id)
- else
  %table
    %tr
      %th= "Exam Name"
      %th= "Date Taken"
      %th= "Answered Items"
      %th= "Correct Items"
      %th= "Action"

    -@reviewers.each do |reviewer|
      - exam = Exam.with_deleted.find(reviewer.exam_id)
      %tr
        %td= exam.name
        %td= reviewer.created_at.strftime("%c")
        %td= reviewer.items_answered
        %td= reviewer.correct_items
        -if exam.deleted_at == nil
          - if exam.toPublish
            %td= link_to 'Retake Exam', new_user_exam_reviewer_path(reviewer.user_id, reviewer.exam_id)
          - else
            %td= "Currently doing revisions"
        - else
          %td
            = "Exam was deleted."
