%h1 Answered Reviewers
%table
  %tr
    %th= "Exam Name"
    %th= "Date Taken"
    %th= "# of Answered Items"
    %th= "# of Correct Items"

  -@reviewers.each do |reviewer|
    - exam = Exam.find(reviewer.exam_id)
    %tr
      %td= exam.name
      %td= reviewer.created_at
      %td= reviewer.items_answered
      %td= reviewer.correct_items
      %td= link_to 'Retake Exam', new_user_exam_reviewer_path(reviewer.user_id, reviewer.exam_id)
      
%br
%hr
=link_to 'Back', root_path
