%h1 Answer the Reviewer?

= form_for([:user, :exam, @reviewer]) do |f|
  - index = 0
  = f.fields_for :items do |builder|
    .item
      - question = Question.find(@reviewer.items[index]['question_id'])
      - choices = question.choices.all
      = builder.hidden_field :question_id
      = "Question : " + question.question
      %br
      -choices.each do |choice| 
        = builder.radio_button :choice_id, choice.id
        = builder.label :choice_id, choice.choice
        %br
      = link_to_function("<<Prev", "prev_item(this)")
      = link_to_function("Check My Answer", "check_answer(this,'#{reviewers_check_answer_path}')")
      = link_to_function("Next>>", "next_item(this)")
      - index += 1
      %br 
  %br  
  =f.submit "I want to submit my answers"

%br
%hr

.links  
  = link_to 'Back to Home', users_path

:javascript
  $(document).ready( function(){
    $(".item").first().nextAll(".item").hide();
    $(".item").first().children("a").first().hide();
    $(".item").last().children("a").last().hide();
  });
