- provide(:title, 'Edit Exam')

%h3 Edit Exam
= form_for([:admin, @exam]) do |f|
  = f.label :name, "Name"
  %br
  = f.text_field :name
  %br
  = f.label :description, "Description"
  %br
  = f.text_area :description, :rows => 3
  %br
  = f.check_box :toPublish
  = f.label :toPublish, "Publish"
  %br
  = f.submit "Update Exam"

%br
%hr

.links
  = link_to 'Cancel', admin_exams_path
