- provide(:title, 'Edit Profile')

%h3 Create Exam
= form_for([:admin, @exam]) do |f|
  = f.label :name, "Name"
  %br
  = f.text_field :name
  %br
  = f.submit "Create Exam"

%br
%hr

.links
  = link_to 'Cancel', admin_exams_path
