<h1>Create Exam</h1>
<%= form_for([:admin, @exam]) do |f| %>
  <%= f.label :name, "Name" %><br/>
  <%= f.text_field :name %><br/>
 
  <%= f.submit "Create Exam" %>
<% end %>
<br/><hr>
<%= link_to 'Back to Exams', admin_exams_path %> | 
<%= link_to 'Back to Home', admin_root_path %>
