<h1> <%= @exam.name %> </h1>

<h3>Details</h3>

<p>
  <strong>Date Created:</strong> <%= @exam.created_at %><br/>
  <strong>Last Update:</strong> <%= @exam.updated_at %>
</p>

<h3>Questions</h3>

<table>
  <tr>
    <th>Question #</th>
  </tr>
<% question_ctr = 0%>
<% @question.each do |question| %>
  <% question_ctr++ %>
  <tr>
    <td><%= question_ctr %> | <td>
    <td><%= question.question %> | <td>
    <td><%= question.created_at %> | <td>
    <td><%= question.updated_at %> | <td>
    <td><%= link_to 'View', '#' %> | <td>
    <td><%= link_to 'Edit', '#' %> | <td>
    <td><%= link_to 'Delete', '#' %> | <td>
  </tr>
<% end %>
</table>

<br/><hr>

<%= link_to 'Add Question', '#' %> | 
<%= link_to 'Back to Exams', admin_exams_path %> | 
<%= link_to 'Back to Home', admin_root_path %>
