%h1 Create a Choice

= form_for([:admin, :exam, :question, @choice]) do |f|
  = f.label :choice, "Choice"
  %br
  = f.text_field :choice
  %br
  = f.submit "Save this Choice"

%br
%hr

.links
  = link_to 'Back to Questions', admin_exam_questions_path(@question.exam_id)
  = " | "
  = link_to 'Back to Exams', admin_exams_path
  = " | "
  = link_to 'Back to Home', admin_root_path
