<h1> Edit Profile </h1>
<%= form_for(@user) do |f| %>
  <%= f.label :name, "Name" %><br/>
  <%= f.text_field :name %><br/>
 
  <%= f.submit "Edit my Account" %>
<% end %>

<br/>

<%= link_to 'Change Password', edit_user_password_path(@user) %>
