- provide(:title, 'Edit Profile')

%h3 Edit Profile
= form_for ([:admin, @admin]) do |f|
  = f.label :name, "Name"
  %br
  = f.text_field :name
  %br
  = f.submit "Edit my Account"

%br/
%hr

.links
  = link_to 'Change Password', edit_admin_password_path(@admin)
  = ' | '
  = link_to 'Back', admin_root_path
