%h1 Edit Question

= form_for([:admin, @exam, @question]) do |f|
  = f.label :question, "Question"
  %br/
  = f.text_area :question, :rows => 3
  %br/
  %br/
  = f.fields_for :choices do |builder|
    .fields
      = builder.label :choice, "Choice: "
      = builder.text_field :choice
      = builder.check_box :isCorrect
      = builder.label :isCorrect, "Correct Answer"
      = link_to "Remove", "#"
      %br/
  = link_to "Add Choice", '#'
  %br/
  %br/
  = f.submit "Edit my Question"

%br/
%hr

.links
  = link_to 'Back to Questions', admin_exam_questions_path(@exam.id)
  = " | "
  = link_to 'Back to Exams', admin_exams_path
  = " | "
  = link_to 'Back to Home', admin_root_path
