- provide(:title, 'Questions')

%h3 #{ @exam.name }'s Questions

- if @questions.count == 0
  = "No questions created."
-else
  %table
    %tr
      %th Question
      %th Date Created
      %th Last Update

    - @questions.each do |question|
      %tr
        %td= question.question
        %td= question.created_at.strftime("%c")
        %td<
          = question.updated_at.strftime("%c")
          = " | "
        %td<
          = link_to 'View', admin_exam_question_path(question.exam_id, question.id)
          = " | "
        %td<
          = link_to 'Edit', edit_admin_exam_question_path(question.exam_id, question.id)
          = " | "
        %td<
          = link_to 'Delete', admin_exam_question_path(question.exam_id, question.id), :method => :delete

%br/
%hr

.links
  = link_to 'Add Question', new_admin_exam_question_path(@exam.id)
  = " | "
  = link_to 'Back', admin_root_path
