-provide(:title, 'Create Questions')

%h3 Create Question
= form_for([:admin, :exam, @question]) do |f|
  = f.label :question, "Question"
  %br/
  = f.text_area :question, :rows => 3, :value => "Question"
  %br/
  %br/
  = f.fields_for :choices do |builder|
    =render 'form' , :f => builder
  = link_to_add_fields "Add Choice", f, :choices
  %br<
  = f.submit "Save my Question"

%br<
%hr

.links
  = link_to 'Cancel', admin_exam_questions_path(@question.exam_id)

:javascript
  $(document).ready(function(){
    $("input:submit").hide();
    $("input:checkbox").click(function(){
      $("input:submit").show();
    });
  });
