%h3 Question:
%p= @question.question 

%h3 Choices
%ul
  - @choices.each do |choice|
    %li= choice.choice

%br/
%hr

.links
  = link_to 'Back to Questions', admin_exam_questions_path(@exam.id)
  = " | "
  = link_to 'Back to Exams', admin_exams_path
  = " | "
  = link_to 'Back to Home', admin_root_path  

