<h1> Hello, <%= @admin.email %> </h1>
<%= link_to 'Home', admin_users_path %> |
<%= link_to 'Edit Profile', '#' %> |
<%= link_to 'My Exams', '#' %> |
<%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
