!!!
%html
  %head
    %title
      = "Review Master |"
      = yield (:title)

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#top
    #header-wrap
      %header
        - if user_signed_in?
          %hgroup
            %h1 Review Master
            %h4 You're logged in as #{@user.name}
          %nav
            %ul
              %li= link_to 'Home', users_path
              %li= link_to 'Edit Profile', edit_user_registration_path(@user)
              %li= link_to 'View Exams', user_exams_path(@user.id)
              %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %header#top
            %hgroup
              %h1 Exam Reviewer
            %nav
              %ul
                %li= link_to 'Home', root_path
                %li= link_to 'Sign In', users_path
                %li= link_to 'Sign Up', new_user_registration_path

    #content-wrap
      #content.clearfix
        #main
          .main-content
            = yield
        #sidebar
          .sidemenu
            - if user_signed_in?
              %h3 Links
              %ul
                %li= link_to 'Home', users_path
                %li= link_to 'Edit Profile', edit_user_registration_path(@user)
                %li= link_to 'View Exams', user_exams_path(@user.id)

    %footer
      %p.footer-left
        &copy;
        = "2012 Copyright Info"
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        = "Design by"
        = link_to "styleshout", "http://www.styleshout.com/"
      %p.footer-right
        = link_to 'Back to Top', "#top", :class => "back-to-top"
